
<div class="cart-item">
    <div class="card-body">
        <p class="card-text"> <strong>{{cartItem.productName}}  </strong>   x <span>{{cartItem.qty}}</span>: 
        <strong>{{(cartItem.qty*cartItem.price) |currency:'INR'}}</strong> 
    </p>
    </div>


 <div class="row">
 <button type="button" style="width:20% ;height:10%;"  (click)="IncreaseQty()" ><strong>+</strong></button>
 <button type="button" style="width:20% ;height:10%;" [disabled]="disable" (click)="DecreaseQty()"><strong>-</strong></button>
 <button type="button" style="width:50% ;height:10%;" (click)="RemoveItem()">Remove</button>
</div>
<!-- {{cartItem.qty}} -->
<!-- {{cartItem.qty}} -->
</div>

