<table>
    <tr>
        <td>
             <p class="card-text"> <strong>{{ product?.name }}</strong>  </p> <!--     ? added because without this console give error says undefined property -->
            <img class="bd-placeholder-img card-img-top"  [src]='product?.imageUrl' style="width: 100%"/>
        </td>
        <td>
            <div class="card-body">                
                    <p class="card-text">                   
                        <strong>Price:</strong>  {{ product?.price |currency: 'INR'}}                     
                    </p>
                   <p class="card-text"> {{product?.description }}</p>
                    <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                        
                        <span *ngIf="buttonName===false">
                            <button type="button" class="btn btn-sm btn-primary product-btn" (click)="handleAddToCart()" >Add to Cart</button> 
                        </span>   
                        <span *ngIf="buttonName===true"> 
                            <button type="button" class="btn btn-sm btn-primary product-btn" [routerLink]="['/Cart/']" >Go to Cart</button>
                        </span> 
                       
                        <button type="button" class="btn btn-sm btn-outline-secondary product-btn" [routerLink]="['/PurchaseOrder/',product?.id]">Buy Now</button>
                    </div>                 
                    </div>
              </div>
        </td>
    </tr>
</table>


